version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: trading_db
    restart: always
    environment:
      POSTGRES_DB: trading_simulator
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5432:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./datos-prueba.sql:/docker-entrypoint-initdb.d/datos-prueba.sql
      - postgres_data:/var/lib/postgresql/data
  
volumes:
  postgres_data: